TELEGRAM_BOT_TOKEN="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
TELEGRAM_API_ID="12345678"
TELEGRAM_API_HASH="abcdef1234567890abcdef1234567890"

BOT_USERNAME="CatDockBot"
WEB_APP_URL="https://your-domain.com"

OWNER_IDS="111111111"
CO_OWNER_IDS=""
SENIOR_ADMIN_IDS=""
ADMIN_IDS=""
JUNIOR_ADMIN_IDS=""

WEB_API_SECRET_KEY="generate_random_string_here"
CRYPTO_PAY_TOKEN=""

INFO_CHAT_ID=""
MODERATION_CHAT_ID=""
CAPTCHA_TOPIC_ID=""
LOG_CHAT_ID=""

DEFAULT_CPU_LIMIT="0.2"
CPU_UPGRADE_PRICE="10.0"
RAM_UPGRADE_PRICE="15.0"

PAYMENT_PHONE="79990000000"
CARD_PAYMENT_DETAILS='{"ru":[{"bank":"Bank Name","number":"0000 0000 0000 0000"}]}'

SERVER_DE1_IP="1.1.1.1"
SERVER_DE1_USER="root"
SERVER_DE1_PASSWORD="server_password"

DB_TYPE="postgres"
PG_HOST="localhost"
PG_PORT="5432"
PG_USER="catdock_user"
PG_PASS="secret_password"
PG_NAME="catdock_db"
