aiogram
aiohttp
docker
APScheduler
pytz==2023.3.post1
asyncssh
jdatetime
pyuseragents
redis
pytoniq-core
libscrc
aiofiles
pyTelegramBotAPI
python-dotenv
cryptography
psutil
pytest
pytest-asyncio
pytest-mock
requests
qrcode
Pillow
asyncpg
fastapi
uvicorn
python-multipart
alembic
psycopg2-binary
sentry-sdk
taskiq
taskiq-redis
telethon
PyYAML
